{% extends '::base.html.twig' %}
{% block body %}
  <nav>
    <ul class="nav1 nav nav-tabs">
      <li class="active"><a href="#">Accueil</a></li>
      <li><a href="{{ path('listerPerceptions') }}">Perceptions</a></li>
      <li><a href="{{ path('stock') }}">Stock</a></li>
      <li><a href="{{ path('bd')}}">Base de données</a></li>
      <li><a href="{{ path('aide') }}">Aide</a></li>
    </ul>
  </nav>
  <div class="alert-container container-fluid">
    <div class="alert alert-warning">
      <strong>Michel Dupont</strong> doit rendre la clé <strong>PG302GP56</strong> le <strong>20/12/2017</strong>.
    </div>
    <div class="alert alert-warning">
      <strong>Camille Durand</strong> doit rendre la clé <strong>PG389B23</strong> le <strong>21/12/2017</strong>.
    </div>
    <div class="alert alert-danger">
      <strong>Jean Delion</strong> n'a pas rendu la clé <strong>PG389B23</strong> qu'il devait rendre le <strong>10/12/2017</strong>. <button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Archiver</button>
    </div>
  </div>
</div>
<a class="btn btn-success deconnexion" href=" {{ path('login') }}"><span class="glyphicon glyphicon-log-out"></span> Déconnexion</a>
{% endblock %}
