{% extends '::base.html.twig' %}
{% block body %}
<nav>
  <ul class="nav1 nav nav-tabs">
    <li><a href="{{ path('accueil')}}">Accueil</a></li>
    <li><a href="{{ path('Perceptions') }}">Perceptions</a></li>
    <li class="active"><a href="{{ path('Inventaire') }}">Inventaire</a></li>
    <li><a href="{{ path('bd')}}">Base de données</a></li>
    <li><a href="{{ path('aide') }}">Aide</a></li>
  </ul>
</nav>
{% endblock %}
