{% extends '::base.html.twig' %}
{% block body %}
<nav>
  <ul class="nav1 nav nav-tabs">
    <li><a href="{{ path('accueil')}}">Accueil</a></li>
    <li class="active"><a href="{{ path('Perceptions') }}">Perceptions</a></li>
    <li><a href="{{ path('Inventaire') }}">Inventaire</a></li>
    <li><a href="{{ path('bd')}}">Base de données</a></li>
    <li><a href="{{ path('aide') }}">Aide</a></li>
  </ul>
</nav>

<a class="btn btn-success deconnexion" href=" {{ path('login') }}"><span class="glyphicon glyphicon-log-out"></span> <strong>Déconnexion</strong></a>

<div class"row">
  <form class="alert alert-info col-md-4 col-centered">
    <span class="glyphicon glyphicon-search"> </span> Filtrer
    <div class="form-group">
      <label for="nom">Personne :</label>
      <input type="text" class="form-control" id="nom">
      <label for="organisation">Organisation :</label>
      <input type="text" class="form-control" id="organisation">
    </div>
    <div class="form-group">
      <label for="Pass">Pass :</label>
      <select class="form-control" id="Pass">
        <option>PASS A</option>
        <option>PASS B</option>
        <option>PASS C</option>
        <option>PASS D</option>
      </select>
    </div>
    <div class="form-group">
      <label for="variure">Variure :</label>
      <select class="form-control" id="variure">
        <option>VAR A</option>
        <option>VAR B</option>
        <option>VAR C</option>
        <option>VAR D</option>
      </select>
    </div>
  </form>

  <button class="btn btn-success" ><span class="glyphicon glyphicon-plus"></span> Filtrer</button>
</div>
{% endblock %}
