{% extends '::base.html.twig' %}
{% block body %}

{% for message in app.flashes('success') %}
<div class="alert alert-success">
  {{ message }}
</div>
{% endfor %}

 <link href="/css/nouvellePerception.css" rel="stylesheet">


<div class="container alert alert-info">
  <h2>Ajouter une perception</h2>
  <h3> Veuillez renseigner les champs suivants : </h3>





  {% form_theme form 'bootstrap_3_layout.html.twig' %}
  {{ form_start(form) }}
  <div class="champs">
  {{form_row(form.percepteur)}}
</div>
  {{form_row(form.typePerception)}}
  <div id="dateDebut">
    {{form_row(form.dateDebut)}}
  </div>
  <div id="dateFin">
    {{form_row(form.dateFin)}}
  </div>

<div class="champs">

  <p id="paragPorte">Numéro de porte :</p>
  <select class="form-control" id="Porte" >
    <option> - Selectionnez le numéro de porte voulu - </option>
    {% for equipement in equipements %}
<option data-id="{{equipement.id}}">{{equipement.nomEquipement}}</option>
    {% endfor %}
</select>

 
  <div id="variure">
    {{form_row(form.variure)}}
  </div>
</div>
  {{ form_end(form) }}
 
</div>
<div id="nouvellePerception">
<a href="{{ path('ajouterPerception') }}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-plus"></span>  Nouvelle perception</a>
</div>
<script src="/js/ajouterPerceptionNumPorte.js"></script>

{% endblock %}

