{% extends '::base.html.twig' %}
{% block body %}

{% for message in app.flashes('success') %}
<div class="alert alert-success">
  {{ message }}
</div>
{% endfor %}

<a href="{{ path('ajouterPerception') }}" class="btn btn-primary btn-modif"> Nouvelle perception</a>
<div class="container">
  <h2>Ajouter une perception</h2>
  <h3> Veuillez renseigner les champs suivants : </h3>





  {% form_theme form 'bootstrap_3_layout.html.twig' %}
  {{ form_start(form) }}
  {{form_row(form.percepteur.nomPercepteur)}}
  {{form_row(form.percepteur.prenomPercepteur)}}
  {{form_row(form.percepteur.email)}}

  {{form_row(form.percepteur.typePercepteur)}}


  {{form_row(form.percepteur.organisation)}}
  {{form_row(form.percepteur.service)}}
  {{form_row(form.typePerception)}}
  <div id="dateDebut">
    {{form_row(form.dateDebut)}}
  </div>
  <div id="dateFin">
    {{form_row(form.dateFin)}}
  </div>



  <p id="paragPorte">Numéro de porte :</p>
  <select class="form-control" id="Porte" >
    <option> - Selectionnez le numéro de porte voulu - </option>
    {% for equipement in equipements %}
<option data-id="{{equipement.id}}">{{equipement.nomEquipement}}</option>
    {% endfor %}
</select>

 
  <div id="variure">
    {{form_row(form.variure)}}
  </div>

  {{ form_end(form) }}
 
</div>

<script src="/js/ajouterPerceptionNumPorte.js"></script>

{% endblock %}

