{% extends '::base.html.twig' %}
{% block body %}

{% for message in app.flashes('success') %}
<div class="alert alert-success">
{{ message }}
</div>
{% endfor %}


<link href="/css/nouvellePerception.css" rel="stylesheet">

<h2> Clés ou Pass déja perçues par ce percepteur : </h2>
{% for percep in perceptions %}
{% for p in percep %}
{% if p.variure %}
<p id="paragpercep" class="cachee{{p.id}}" data-idpartiel={{p.percepteur.id}} data-id="{{p.id}}">{{ p.variure.nomVariure}} </p>
{% endif %}
{% if p.passPartiel1 %}
<p id="paragpercep" class="cachee{{p.id}}" data-idpartiel={{p.percepteur.id}} data-id="{{p.id}}"> {{ p.passPartiel1.nomPass1}} </p>
{% endif %}
{% if p.passPartiel2 %}
<p id="paragpercep" class="cachee{{p.id}}" data-idpartiel={{p.percepteur.id}} data-id="{{p.id}}"> {{ p.passPartiel2.nomPass2}} </p>
{% endif %}
{% if p.passPartiel3 %}
<p id="paragpercep" class="cachee{{p.id}}" data-idpartiel={{p.percepteur.id}} data-id="{{p.id}}"> {{ p.passPartiel3.nomPass3}} </p>
{% endif %}
{% endfor %}
{% endfor %}



<div class="container alert alert-info">
<h2>Ajouter une perception</h2>
<h3> Veuillez renseigner les champs suivants : </h3>

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{{ form_start(form) }}
<div class="champs">
{{form_row(form.percepteur)}}
</div>


{{form_row(form.typePerception)}}
<div id="dateDebut">
{{form_row(form.dateDebut)}}
</div>
<div id="dateFin">
{{form_row(form.dateFin)}}
</div>


{{form_row(form.choixPerception)}}

<div class="champs">

{{form_row(form.passPartiel1)}}


{{form_row(form.passPartiel2)}}
{{form_row(form.passPartiel3)}}

<div id="variure">
{{form_row(form.variure)}}
</div>
    {% for variure in variures %}
    <p> {{ variure.nomVariure }}</p>
    {% if variure.passPartiel2 %}
    <p> <strong> {{ variure.passPartiel2.nomPass2 }}</strong></p>
    {% endif %}
    {% if variure.passPartiel3 %}
    <p><strong>{{ variure.passPartiel3.nomPass3 }}</strong></p>
    {% endif %}
    {% endfor %}



</div>


{{ form_end(form) }}


</div>

<div id="nouvellePerception">
<a href="{{ path('ajouterPerception') }}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-plus"></span>  Nouvelle perception</a>
</div>


<script src="/js/ajouterPerceptionNumCle.js"></script>

{% endblock %}
