{% extends '::base.html.twig' %}
{% block body %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}


{% for message in app.flashes('success') %}
<div class="alert alert-success">
  {{ message }}
</div>
{% endfor %}
<link href="/css/nouvellePerception.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href="/css/modifierPerception.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<div class="container alert alert-info">
  <h2>Modifier la perception</h2>
  <h3> Modifiez les champs désirés : </h3>
  {{form_start(form)}}
      <form class="col s12">
          <div class="row">
            <div id="percepteur">
            <h4>Percepteur :</h4>
            <div class="champs">
              <div class="form-group">
                {{  form_row(form.percepteur.nomPercepteur)}}
              </div>

              <div class="form-group">
                {{  form_row(form.percepteur.prenomPercepteur)}}
              </div>

              <div class="form-group">
                {{  form_row(form.percepteur.email)}}
              </div>

              <div class="form-group" id="typePercepteur">
                {{  form_row(form.percepteur.typePercepteur)}}
              </div>

              <div id="organisationdiv">
                {{  form_row(form.percepteur.organisation)}}
              </div>

              <div class="form-group" id="servicediv">
                {{  form_row(form.percepteur.service)}}
              </div>
            </div>
          </div>
              <div id="typePerceptiondiv">
                {{  form_row(form.typePerception)}}
              </div>
              <div id="dateFin">
                {{  form_row(form.dateFin)}}
              </div>
              <div class="champs">
              {{  form_row(form.choixPerception)}}
              </div>
              <div class="champs">
              <div id="pass">
              {{  form_row(form.passPartiel1)}}
              {{  form_row(form.passPartiel2)}}
              {{  form_row(form.passPartiel3)}}
              </div>
              </div>
              <div class="champs">
              <div id="variure">
                {{  form_row(form.variure)}}
              </div>
              </div>
              <div id="etatPerception">
                {{form_row(form.etatPerception)}}
              </div>
              {{ form_row(form._token)}}
              <a href="{{ path('perception') }}">{{ form_row(form.save) }}</a>
          </div>
      </form>

</div>

<script src="/js/modifierPerception.js">
var passPartiel2test {{ form.passPartiel2==null|escape('js')}};
var passPartiel3test {{ form.passPartiel3==null|escape('js')}};
if (passPartiel2test) {
  $("#administrateurbundle_perception_passPartiel2").prepend("<option selected='selected'></option>");
}
else{
  $("#administrateurbundle_perception_passPartiel2").prepend("<option></option>");
}
if(passPartiel3test){
  $("#administrateurbundle_perception_passPartiel3").prepend("<option selected='selected'></option>");
}
else{
  $("#administrateurbundle_perception_passPartiel3").prepend("<option></option>");
}
</script>

{% endblock %}
