{% extends '::base.html.twig' %}
{% block body %}
<div class"row">
  <form class="alert alert-info col-md-4 col-centered">

    <span class="glyphicon glyphicon-search"> </span> Filtrer

    <div class="form-group">
      <label for="nom">Nom :</label>
      <input type="text" class="form-control" id="nom">

      <label for="nom">Prenom :</label>
      <input type="text" class="form-control" id="prenom">

      <label for="nom">Numéro de clé :</label>
      <input type="text" class="form-control" id="numeroPass">

      <div class="row">
        <div class="col-sm-4">
          <label for="Pass">Pass 1 :</label>
          <select class="form-control" id="Pass1">
            {% for pp1 in passPartiel1 %}
            <option>{{pp1.nomPass1}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-sm-4">
          <label for="Pass">Pass 2 :</label>
          <select class="form-control" id="Pass2">
            {% for pp2 in passPartiel2 %}
            <option>{{pp2.nomPass2}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-sm-4">
          <label for="Pass">Pass 3 :</label>
          <select class="form-control" id="Pass3">
            {% for pp3 in passPartiel3 %}
            <option>{{pp3.nomPass3}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <label for="organisation">Organisation :</label>
      <input type="text" class="form-control" id="organisation">
    </div>
  </form>

  <a href="{{ path('listerPerception') }}" class="btn btn-success btn-modif" ><span class="glyphicon glyphicon-plus"></span> Filtrer<a>
    <a href="{{ path('ajouterPerception') }}" class="btn btn-primary btn-modif" role="button"><span class="glyphicon glyphicon-plus"></span> Ajouter une perception</a>
  </div>
  {% endblock %}
