<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>PALR - Aide</title>

  <link href="css/montserrat_police" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="css/lister.css" rel="stylesheet">
  <link href="css/login.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>
  <nav>
    <ul class="nav1 nav nav-tabs">
      <li><a href="#">Accueil</a></li>
      <li><a href="{{ path('listerPerceptions') }}">Perceptions</a></li>
      <li><a href="{{ path('stock') }}">Stock</a></li>
      <li class="active"><a href="{{ path('bd')}}">Base de données</a></li>
      <li><a href="{{ path('aide') }}">Aide</a></li>
    </ul>
  </nav>
  <div class="aide_container">
    <p class="login">Bienvenue dans la section base de données.</p>
  </div>

  <a class="btn btn-success deconnexion" href=" {{ path('login') }}"><span class="glyphicon glyphicon-log-out"></span> Déconnexion</a>
</body>
