<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PALR - Perceptions</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap.css" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="css/lister.css" rel="stylesheet">
</head>


<body>
  <nav>
    <ul class="nav1 nav nav-tabs">
      <li><a href="{{ path('accueil')}}">Accueil</a></li>
      <li class="active"><a href="{{ path('listerPerceptions') }}">Perceptions</a></li>
      <li><a href="{{ path('stock') }}">Stock</a></li>
      <li><a href="{{ path('bd')}}">Base de données</a></li>
      <li><a href="{{ path('aide') }}">Aide</a></li>
    </ul>
  </nav>
      <div class="form_array_container">
        <div class="table-container">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Organisation</th>
                <th>Numéro de la clé</th>
                <th>Date de perception</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Haÿs</td>
                <td>Téo</td>
                <td>Achats & Patrimoine</td>
                <td>DHF35G89</td>
                <td>13/09/2012</td>
                <td><a class="btn btn-info btn-xs btn-suppr"><span class="glyphicon glyphicon-edit"></span></a> <a class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
              </tr>
              <tr>
                <td>Souffleux</td>
                <td>Thomas</td>
                <td>Capitainerie</td>
                <td>FJKL89G</td>
                <td>13/09/2012</td>
              </tr>
              <tr>
                <td>Charbonneau</td>
                <td>Teddy</td>
                <td>Entreprise X</td>
                <td>YNEN53J</td>
                <td>13/09/2012</td>
              </tr>
              <tr>
                <td>Clémenceau</td>
                <td>Simon</td>
                <td>Service Y</td>
                <td>FJLK532LK</td>
                <td>13/09/2012</td>
              </tr>
              <tr>
                <td>Haÿs</td>
                <td>Téo</td>
                <td>Achats & Patrimoine</td>
                <td>DHF35G89</td>
                <td>13/09/2012</td>
              </tr>
              <tr>
                <td>Souffleux</td>
                <td>Thomas</td>
                <td>Capitainerie</td>
                <td>FJKL89G</td>
                <td>13/09/2012</td>
              </tr>
              <tr>
                <td>Charbonneau</td>
                <td>Teddy</td>
                <td>Entreprise X</td>
                <td>YNEN53J</td>
                <td>13/09/2012</td>
              </tr>
              <tr>
                <td>Clémenceau</td>
                <td>Simon</td>
                <td>Service Y</td>
                <td>FJLK532LK</td>
                <td>13/09/2012</td>
              </tr>
              <tr>
                <td>Haÿs</td>
                <td>Téo</td>
                <td>Achats & Patrimoine</td>
                <td>DHF35G89</td>
                <td>13/09/2012</td>
              </tr>
              <tr>
                <td>Charbonneau</td>
                <td>Teddy</td>
                <td>Entreprise X</td>
                <td>YNEN53J</td>
                <td>13/09/2012</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-container">
          <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Ajouter</a>
          <form>
            <label for="filtre_nom">Nom:</label>
            <input type="text" class="form-control" id="filtre_nom">

            <label for="pwd">Prénom:</label>
            <input type="text" class="form-control" id="filtre_prenom">

            <label for="pwd">Numéro de clé:</label>
            <input type="text" class="form-control" id="filtre_numcle">

            <label for="pwd">Date début:</label>
            <input type="date" class="form-control" id="filtre_prenom">
          </form>
          <p><button type="button" class="btn btn-primary btn-filtre">Filtrer</button></p>
          <button type="button" class="btn btn-danger btn-filtre"><span class="glyphicon glyphicon-remove"></span> Supprimer filtres</button>
        </div>
      </div>
      <a class="btn btn-success deconnexion" href=" {{ path('login') }}"><span class="glyphicon glyphicon-log-out"></span> Déconnexion</a>
    </body>
    </html>
